name: Format Dockerfile
on:
  pull_request:
jobs:
  dockerfmt:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Format Dockerfile
        run: go run github.com/reteps/dockerfmt@latest -w Dockerfile
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'style: format Dockerfile'
          file_pattern: Dockerfile
